* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

form {
	margin: 1em 0;
}

output {
	display: block;
	background-color: #eee;
	text-transform: uppercase;
}

output:not(:empty) {
	padding: 0.5em;
}

.none { --color: #000; --size: 1; }
.small { --color: red; --size: 2; }
.medium { --color: green; --size: 3; }
.large { --color: #aa0; --size: 4; }

form[id]:not(:target) { display: none; }

nav ol {
	display: flex;
	gap: 2em;
}

option, output span.wheel {
	background-color: var(--color, transparent);
}

output span.wheel {
	display: inline-block;
	border: 1px solid black;
	padding: 1px 4px;
	margin: 0 2px;
}

h1 {
	display: flex;
	align-items: center;
}

h1 span {
	color: var(--color);
	font-size: calc(var(--size) * 20px);
	line-height: 0.8;

	--duration: calc(2s * var(--size));
	--direction: 1;

	animation: rotate var(--duration) linear infinite;
}

h1 span:nth-child(even) {
	--direction: -1;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(calc(360deg * var(--direction)));
	}
}


.wheels {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.wheels .controls {
	width: 100%;
	z-index: 1;
}

.wheels .controls button {
	font-size: 200%;
}

.wheels .wheel {
	position: relative;
	color: var(--color);
	font-size: calc(var(--size) * 110px);
	transform: rotate(calc(var(--angle) * -1deg));
	line-height: 0.8;
	transition: all 100ms;
}

.wheels .wheel span {
	position: absolute;
	left: 50%;
	top: 50%;
	font-size: 16px;
	color: #000;
	text-transform: uppercase;
	font-weight: bold;
	--dist: calc(var(--size) * -30px);
	transform: translate(-50%, -60%) rotate(calc(1deg * var(--angle))) translate(0, var(--dist));
}